* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
}

nav {
    margin: 1rem 0;
    padding: 0 1rem;
}

.result {
    text-align: center;
    padding-top: 2rem;
}

th, td {
    padding: 0.75rem !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
